body
	

a
	color: inherit

h1,
h2,
h3,
h4,
h5,
h6



div,
header,
section,
article,
footer
	position: relative

p
	+inline-block

figure
	img
		display: block
		width: 100%
		height: auto



// Useful Class

.align-center
	text-align: center

.align-right
	text-align: right

.align-left
	text-align: left